
.vitrineSection {
    width: 100%;
    margin-top: 20px;
    margin: auto;
    
}

.vitrine {
    overflow: auto;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    
    margin-top: 20px;
    border-radius: 10px;
}
.h2Vitrine{
    text-align: left;
}
.vitrineItens {
    display: flex;
    scroll-behavior: smooth;
    min-width: 100%;
    gap: 10px;
    padding: 10px;
}

.vitrineItens img {
    border-radius: 10px;
    height: 500px;
    object-fit: cover;

}


.modeloSection{
    
    margin-top: 20px;
    
}

.modeloFotos img{
    width: 500px;
    margin-top: 20px;
    max-height: 700px;
    border-radius: 10px;
    padding: 20px;
    object-fit: contain;
    justify-content: center ;
}

.modelo1{
    display: flex;
    justify-content: baseline;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
}
.modelo2{
    display: flex;
    justify-content: center;
}

.modelo3{
    display: flex;
    justify-content: end;
}

.infoKali{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    width: 80vw;
    margin-top: 20px;
}

.logoSobre{
    width: 200px;
}